{% extends "layout2.html" %}
{% from "macro.html" import render_field%}

{% block container %}

<div class="container">
    <div class="row">
        <h3>Alumnos</h3>
        <a href="/" class="btn btn-info">Agregar alumno</a>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apaterno</th>
                    <th>Correo</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apaterno}}</td>
                    <td>{{alumno.email}}</td>
                    <td><a href="eliminar.html?id={{alumno.id}}" class="btn btn-danger">Eliminar</a></td>
                    <td><a href="modificar.html?id={{alumno.id}}" class="btn btn-warning">Modificar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}